/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 29, 2015, 4:09:25 PM
    Author     : YIKFEI
*/
@import "pure/pure-min.css";
@import "button.css";

.distance {
    padding-left: 1cm;
    padding-top: 0.5cm;
}

input {
    width:4cm;
}
